* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header {
  height: 60px;
  line-height: 60px;
  background: #3e86ce;
  color: #ffffff;
  text-align: center;
}
.header .arrow-container {
  position: relative;
}
.header .arrow-container .arrow {
  position: absolute;
  border: 16px solid transparent;
  border-right: 16px solid #ffffff;
  font-size: 0;
  left: 0;
  top: 13px;
}
.header .arrow-container .blue {
  left: -11px;
  border-right: 16px solid #3e86ce;
  top: -16px;
}
.header h1 {
  text-indent: 40px;
}
.header .login {
  float: right;
  margin-right: 10px;
}
.list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.list li img {
  width: 100px;
  height: 80px;
  float: left;
}
.list li div {
  margin-left: 110px;
}
.list li h3 {
  font-size: 18px;
}
.list li p {
  font-size: 16px;
  line-height: 20px;
  color: #666;
  margin-top: 10px;
}
.list li p .list-comment {
  float: right;
  margin-right: 10px;
}
.list li:after {
  content: '';
  display: block;
  clear: both;
}
.detail h1 {
  font-size: 22px;
  padding: 20px 0;
  text-align: center;
}
.detail .detail-intro {
  overflow: hidden;
  margin-bottom: 10px;
}
.detail .detail-comment {
  float: right;
  margin-right: 15px;
}
.detail .detail-time {
  float: left;
  margin-left: 15px;
}
.detail img {
  width: 100%;
  margin-bottom: 25px;
  height: 256px;
}
.detail .detail-content {
  line-height: 30px;
  padding: 0 15px;
}
.detail .detail-comment-btn {
  margin: 50px 20px;
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #ffffff;
  background: #3e86ce;
  border-radius: 5px;
  text-align: center;
}
.comment .input-container {
  padding-top: 30px;
  margin: 0 15px;
  overflow: hidden;
}
.comment textarea {
  width: 100%;
  background: #efefef;
  border: 1px solid #ccc;
  height: 80px;
  padding: 5px;
}
.comment .comment-btn {
  float: right;
  margin: 30px 0 10px;
  background: #3e86ce;
  color: #ffffff;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
}
.comment li {
  margin: 0 15px;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}
.comment li h3 {
  font-size: 18px;
  margin-bottom: 20px;
}
.comment li p {
  line-height: 26px;
  margin-bottom: 20px;
}
.comment li span {
  font-size: 12px;
  color: #666;
}
